*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
}

:root {
  --font-primary: 'Teko', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  /* colors */
  --color-primary: #252525;
  --color-secondary: #6d6d6d;
  --color-accent: #cbfe01;
  --color-accent-hover: #c0ef06;
  --color-accent2: #89b700;
  --color-grey-50: #f6f6f6;
  --color-grey-100: #f7f7f7;
  --color-grey-200: #d1d1d1;
  --color-grey-300: #b0b0b0;
  --color-grey-400: #6d6d6d;
  --color-grey-500: #4f4f4f;
  --color-primary-90: #252525e6;
}

/* LINKS */

a.link-primary {
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link-secondary {
  transition: all 0.3s ease;
}

a.link-secondary:hover {
  color: var(--color-primary);
}

/* CONTAINER */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem; /* px-4 */
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-inline: 0; /* lg:px-0 */
  }
}

/* xl */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* 2xl */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* HEADINGS */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin: 0;
}

p {
  margin: 0;
}

.h1 {
  font-size: 6rem; /* text-8xl */
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 400;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 200px; /* md:text-[200px] */
  }
}

.h2 {
  font-size: 64px;
  text-transform: uppercase;
  line-height: 0.8;
}

@media (min-width: 1280px) {
  .h2 {
    font-size: 120px;
  }
}

.h3 {
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0.8;
}

.h4 {
  font-size: 32px;
}

@media (min-width: 768px) {
  .h4 {
    font-size: 48px;
  }
}

.h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
}

/* BUTTONS */
.btn {
  height: 56px;
  padding-inline: 2rem; /* px-8 */
  font-weight: 500;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid var(--color-grey-200);
}

.btn-accent {
  background-color: var(--color-accent);
  transition: all 0.3s ease;
}

.btn-accent:hover {
  background-color: var(--color-accent-hover);
}

/* INPUTS */
.input {
  height: 54px;
  border: 1px solid var(--color-grey-200);
  outline: none;
}

/* SWIPER OVERRIDES */
.swiper-scrollbar {
  background-color: var(--color-grey-50) !important;
}

.swiper-scrollbar-drag {
  background-color: var(--color-primary) !important;
}

/* .icon {
  color: white !important;
} */

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  background-color: var(--color-grey-200);
}

.page {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  overflow: hidden;
  background: white;
}

.temp_div {
  height: 4000px;
}

/* topbar */

.topbar {
  background-color: var(--color-primary);
  height: 40px;
  text-align: center;
  color: white;
}

.topbar_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truck__logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.truck__logo-container svg {
  display: block;
  width: 24px;
  height: 24px;
  color: #fff;
}

.truck__logo-container p {
  font-size: 14px;
  line-height: 1.25rem;
}

/* Header Styles */

.header {
  max-width: 1440px;
  margin-inline: auto;
  left: 0;
  right: 0;
  background-color: #f6f6f6;

  /* background-color: lime; */
}

.header_container {
  margin-inline: auto;
}

@media (min-width: 1200px) {
  .header {
    position: absolute;
  }
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;
}

.navigation {
  display: none;
}

.logo_sidebar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.search {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 360px;
}

.link-primary:hover {
  color: var(--color-accent2);
}

.search_input {
  width: 126px;
  transition: all 150ms ease;
  padding-left: 27px;
}

.search_input:focus {
  width: 200px;
}

.icon-heart {
  color: var(--color-primary);
}

.btn-icon:hover .icon-heart {
  color: var(--color-primary-90);
}

.icon-cart {
  color: var(--color-primary);
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .search {
    display: flex;
  }
  .header_wrapper {
    justify-content: flex-start;
    gap: 24px;
  }
  .search {
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .logo_sidebar_wrapper {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .navigation {
    display: flex;
    gap: 32px;
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 600;
    justify-self: center;
    padding-left: 0;
    grid-column: 2;
    grid-row: 1;
  }
  .header_wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;

    gap: 0;
  }
  .header_left {
    grid-column: 1; /* ✅ logo column */
    grid-row: 1;
  }
  .search {
    display: flex;
    grid-column: 3;
    justify-self: end;
    margin-left: 0;
    grid-row: 1;
  }
  .sidenav {
    display: none;
  }
  #menuBtn {
    display: none;
  }
  #menuBtn {
    display: none;
  }
  #sheet {
    display: none;
  }
}

/* LATEST SECTION */

.latest {
  margin-top: 24px;
}

.latest_container {
  margin-inline: auto;
}

.latest_title {
  width: max-content;
  border-bottom: 2px solid;
}

.latest_link {
  color: var(--color-accent2);
}

.latest_link:hover {
  color: var(--color-primary);
}

.heading_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 72px;
}

/* HERO */
.hero {
  background-color: #f6f6f6;
  background-image: url(/assets/img/hero/bg.png);
  background-repeat: no-repeat;
  background-position: 60%;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-text-wrapper {
  width: 100%;
  max-width: 760px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  margin-bottom: 40px;
  text-align: center;
}

.hero-img {
  position: relative;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  gap: 40px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-icon {
  width: 15px;
  height: 15px;
}

.play-icon {
  width: 20px;
  height: 20px;
}

.play-icon-wrapper {
  background-color: white;
  color: var(--color-primary);
  border-radius: 50%;
  border: 10px solid var(--color-grey-200);
  padding: 16px;
}
.hero-btn {
  height: 56px;
  font-weight: 500;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fire-icon-wrapper {
  background-color: var(--color-accent);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 20px;
}

.badge-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}

.fire-icon {
  width: 20px;
  height: 20px;
}

.badge-text {
  font-weight: 600;
}

@media (min-width: 768px) {
  .hero {
    background-position: right bottom;
  }
  .hero-text-wrapper {
    margin-bottom: 0;
  }

  .btn-container {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 1064px;
    background-position: right;
  }

  .hero-wrapper {
    flex-direction: row;
  }

  .hero-img {
    position: absolute;
    right: -100px;
    top: -7px;
  }

  .btn-container {
    flex-direction: row;
    gap: 40px;
  }

  .hero-text-wrapper {
    align-items: flex-start;
  }

  .hero-heading {
    text-align: left;
  }
}

/* SLIDER */

.slide {
  height: 530px;
}

.swiper-slide {
  user-select: none;
  width: 100%;
  cursor: pointer;
}

.product-media {
  background: var(--color-grey-50);
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info {
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 46px; /* 👈 this is what you're missing */
}

.product-title {
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 4px;
  margin-top: 4px;
}

.price {
  color: var(--color-accent2);
  font-weight: 600;
}

.swiper-scrollbar {
  margin-top: 16px;
}

/* SIDENAV */
.btn-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  color: var(--color-primary);
  width: 24px;
  height: 24px;
}

#sheet {
  position: fixed;
  inset: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity 160ms ease-out;
  pointer-events: none;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 16px;
}

#sheet.is-open {
  opacity: 1;
  pointer-events: auto;
}

#sheet.is-open #sheetOverlay {
  opacity: 1;
}
#sheetOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: opacity 160ms ease-out;
}

#sheetPanel {
  position: absolute;
  top: 0;
  right: 0; /* drawer from right */
  height: 100%;
  width: min(560px, 85vw);
  background: #000;
  color: #fff;
  padding: 24px;
  transform: translateX(100%); /* ✅ starts off-screen to the left */
  transition: transform 180ms ease-out; /* ✅ quick slide */
  will-change: transform;
}

#sheet.is-open #sheetPanel {
  transform: translateX(0);
}

.close-icon {
  color: white;
  width: 30px;
  height: 30px;
}

.sheetHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
}

.mobile-navigation {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 96px;
  align-items: center;
}

.sheetClose {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.sheetContent {
  padding-top: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sheetLogoWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
}
