*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-primary: 'Teko', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  /* colors */
  --color-primary: #252525;
  --color-secondary: #6d6d6d;
  --color-accent: #cbfe01;
  --color-accent-hover: #c0ef06;
  --color-accent2: #89b700;
  --color-grey-50: #f6f6f6;
  --color-grey-100: #f7f7f7;
  --color-grey-200: #d1d1d1;
  --color-grey-300: #b0b0b0;
  --color-grey-400: #6d6d6d;
  --color-grey-500: #4f4f4f;
}

/* LINKS */

a.link-primary {
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
}

a.link-secondary {
  transition: all 0.3s ease;
}

a.link-secondary:hover {
  color: var(--color-primary);
}

/* CONTAINER */
.container {
  padding-inline: 1rem; /* px-4 */
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 0; /* lg:px-0 */
  }
}

/* HEADINGS */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.h1 {
  font-size: 6rem; /* text-8xl */
  text-transform: uppercase;
  line-height: 0.8;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 200px; /* md:text-[200px] */
  }
}

.h2 {
  font-size: 64px;
  text-transform: uppercase;
  line-height: 0.8;
}

@media (min-width: 1280px) {
  .h2 {
    font-size: 120px;
  }
}

.h3 {
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0.8;
}

.h4 {
  font-size: 32px;
}

@media (min-width: 768px) {
  .h4 {
    font-size: 48px;
  }
}

.h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
}

/* BUTTONS */
.btn {
  height: 56px;
  padding-inline: 2rem; /* px-8 */
  font-weight: 500;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid var(--color-grey-200);
}

.btn-accent {
  background-color: var(--color-accent);
  transition: all 0.3s ease;
}

.btn-accent:hover {
  background-color: var(--color-accent-hover);
}

/* INPUTS */
.input {
  height: 54px;
  border: 1px solid var(--color-grey-200);
  outline: none;
}

/* SWIPER OVERRIDES */
.swiper-scrollbar {
  background-color: var(--color-grey-50) !important;
}

.swiper-scrollbar-drag {
  background-color: var(--color-primary) !important;
}

/* .icon {
  color: white !important;
} */

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  background-color: var(--color-grey-200);
}

.page {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  overflow: hidden;
  background: white;
}

.temp_div {
  height: 4000px;
}

/* topbar */

.topbar {
  background-color: var(--color-primary);
  height: 40px;
  text-align: center;
  color: white;
}

.topbar_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truck__logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.truck__logo-container svg {
  display: block;
  width: 24px;
  height: 24px;
  color: #fff;
}

.truck__logo-container p {
  font-size: 14px;
  line-height: 1.25rem;
}
